<div class="jumbotron">
  <h1>First Project</h1>
  <p>This project is meant for more of a learning purpose.</p>
  <%= link_to "Home", root_path, class: "btn btn-primary" %>
  <%= link_to "About", home_about_path, class: "btn btn-default" %>
</div>
<p>Most git commands will be "git add ." "git commit -am 'a comment'" "git push"</p>
<p>Keeping track on what paths are there. You can use "rake routes" to see all paths currently on the server.</p>
<p>We can also create partial html files by doing _filename.html.erb</p>
<p>the application.html.erb is the framework of the whole rails project</p>
